* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

button {
  cursor: pointer;
}

:root {
  --dark: #222224;
  --light: #666666;
  --border: #DFE1E4;
  --input-placeholder: #84839D;
  --blue: #1a73e8;
  --white: #fff;
}
