.left-side {
  width: 100%;
  max-width: 450px;
}

.left-side .user-data-container {
  margin-top: 40px;
}

.left-side .user-data-container .input-wrapper:nth-child(2) {
  margin-top: 20px;
}

.left-side .donations-container {
  display: flex;
  flex-direction: column;
}

.left-side .donations-container .description {
  margin-top: 35px;
}

.left-side .donations-container .row {
  display: flex;
  justify-content: space-between;

  margin-top: 25px;
  margin-bottom: 20px;
}

.left-side .donations-container .row .input-wrapper{
  max-width: 200px;
}

.right-side {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 380px;
}

.right-side .description {
  margin-top: 30px;
}

.right-side button {
  width: 100%;

  margin-top: auto;

  padding: 15px;
  border-radius: 9px;

  font-size: 20px;
  font-weight: 500;

  color: var(--white);
  background-color: var(--blue);

  border: 0;
}
